<br>
    <div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead">The Yonaka brand, established in 2022, is a dedicated car store with car-related products such as car accessories and even car related apparels. Thanks for visiting our site! Hope you find something you like. We are located in Winnipeg, Manitoba and our contact information can be found <a href="/contact">here</a>.</p>
    </div>