<br>
    <div class="container">
        <h1 class="display-4">Contact Information</h1>
        <p class="lead"> Any questions? If so, you may contact us either through email, phone, or at our physical store listed below! </p>
        <p class="lead"><strong>Email:</strong> Yonaka@hotmail.ca </p>
        <p class="lead"><strong>Phone:</strong> 204-123-4567 </p>
        <p class="lead"><strong>Location:</strong> 123 Main St. Winnipeg </p>
        <p class="lead"><strong>Office Hours: <br></strong> Weekends: 10:00 AM - 6:00 PM<br> Weekdays: 10:00 AM - 8:00 PM</p>

    </div>