<div class="contact-container">
    <br><h2>Contact Us</h2><br>
    <h5> Email: yonaka@hotmail.ca </h5><br>
    <h5> Phone: 204-123-4567 </h5><br>
    <h5> Location: 123 Main St Winnipeg </h5>
</div>