<div class="home-container">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" id="home-container">
        <h1 class="cover-heading">Yonaka Store</h1>
        <p class="lead">A shop that satisfies a car enthusiast's needs.</p>
        <p class="lead">
            <a href="/categories" class="btn btn-lg btn-secondary">Shop Now</a>
            <a href="/about" class="btn btn-lg btn-secondary">About Us</a>
            <a href="/contact" class="btn btn-lg btn-secondary">Contact Us</a>
        </p>
    </div>
</div>