.navbar-brand{
    font-size: 21pt;
}

.product-title {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.home-container {
    margin: auto;
    width: 100%;
    padding-top: 30vh;
}

#home-page {
    color: white;
    background-color: #343A40;
}

.add-product-form {
    margin-top: 20px;
}

.show-product-container {
    background-color: #f5f5f5;
    width: 60%;
    margin: auto;
    padding: 20px;
    border: solid rgba(0, 0, 0, 0.041) 2px;
}

.product-image {
    margin: auto;
}

.cart-button [type="button"]{
    width: 20%;
}

.login-form {
    border: 1px solid black;
    box-shadow: 5px;
    background-color: #343A40;
    padding: 20px;
    border-radius: 5px;
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 6%;
}

.signout_message {
    color: rgb(0, 196, 0);
    text-align: center;
    margin-top: 5%;
}

.pagination {
    margin-bottom: 10px;
    text-align: center;
    padding: 1em;
    cursor: default; 
}

.pagination a, .pagination span {
    padding: 0.2em 0.3em; 
}

.pagination .disabled {
    color: #aaaaaa; 
}

.pagination .current {
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    border: 1px solid black;
    width: 1.5em;
    line-height: 1.2;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}

.pagination a {
    text-decoration: none;
    color: black; 
}

.pagination a:hover, .pagination a:focus {
    text-decoration: underline; 
}

.invoice {
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.billing-information {
    width: 60%;
    margin: auto;
}

.invoice-title {
    width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}