.navbar-brand{
    font-size: 21pt;
}

.product-title {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.home-container {
    margin-top: 25vh;
}

#home-page {
    color: white;
    background-color: #343A40;
}

.add-product-form {
    margin-top: 20px;
}