<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Category</li>
  </ol>
</nav>

<div class="category_title" style="margin-bottom: 10px;">
  <h3>Select a Category 
  <a href="/products"><button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" style="border: 1px solid black; color: black; width: 20%;">View All Products</button></a>
  </h3>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <% if category.image.present? %>
          <figure class="image">
            <%= image_tag category.image, style: 'height: 200px; width: 100%;' %>
          </figure>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>