<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Category</li>
  </ol>
</nav>

<h3>Select a Category</h3>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <% if category.image.present? %>
          <figure class="image">
            <%= image_tag category.image, style: 'height: 200px; width: 100%;' %>
          </figure>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><a href="/products/?test"><%= category.name %></a></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>