<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Category</li>
  </ol>
</nav>

<div class="category_title" style="margin-bottom: 20px;">
  <h3>Select a Category 
  <a href="/products"><button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" style="border: 1px solid black; color: black; width: 20%;">View All Products</button></a>
  </h3>
</div>

<div id="category-search">
  <form class="form-inline" action="/search">
    <select name="category">
      <% @categories.each do |option|%>
        <option value="<%= option.id %>"><%= option.name %></option>
      <% end %>
    </select>
    <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search for Product" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 10px;">Search</button>
  </form>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <%= render category%>
  <% end %>
</div>