<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/categories">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @category.products.name %></li>
  </ol>
</nav>
<h1 class="product-title">Products</h1>

<div class="justify-content-center">
<%= paginate @products %>

  <h4 class="product-title"> Available Stock </h4>
  <div class="row">
    <% @products.each do |product| %>
        <%= render product%>
    <% end %>
  </div>
</div>

