<p style="color: green"><%= notice %></p>

<h1 class="product-title">Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <% if product.image.present? %>
          <figure class="image">
            <%= image_tag product.image, style: 'height: 200px; width: 100%;' %>
          </figure>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= link_to product['name'], product %></h5>
            <strong class="card-text"> <%= product.price %></strong>
        </div>
      </div>
    </div>
  <% end %>
</div>