<body>
<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Products</li>
  </ol>
</nav>
<div class="justify content center">
    <h2 class="category_title"> All Products </h2>
</div> 

<div class="row">
    <% @products.each do |product| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <% if product.image.present? %>
          <figure class="image">
            <%= image_tag product.image, style: 'height: 200px; width: 100%;' %>
          </figure>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= link_to product['name'], product %></h5>
            <strong class="card-text"> $<%= product.price %></strong>
        </div>
      </div>
    </div>
  <% end %>
</div>